body {
    margin: 0px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.sides {
    width: 300px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;   
    font-size: 24px;
}

button {
    padding: 8px 16px;
    font-size: large;
    margin: 8px 4px;
}

.info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

.scores {
    display: flex;
    align-items: center;
    justify-content: center;
}
#cScore, #dScore, #pScore {
    margin: 0px 8px;
}

#winlose {
    margin:8px 0px;
    font-size: 18px;
}

#round {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 8px;
}

#winner {
    font-size: 32px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}